body {
  display: grid;
  justify-content: center;
}
#app {
  font-family: monospace;
  display: grid;
  width: 800px;
  justify-content: center;
  align-items: center;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
}
